@import '../../style/variables';

//TODO GTB-工程实践: - 样式有很多重复
.new-member-button {
  width: 80px;
  height: 40px;
  margin: 10px;
  border: 1px solid $gray;
  color: $dark-gray;
  background: transparent;
}

.new-member-input {
  width: 80px;
  height: 40px;
  border: 1px solid $gray;
  box-sizing: border-box;
}
