@import '../../style/variables';

.group {
  border: 1px solid $gray;
  margin: 15px 0;
}

.group-title {
  $title-height: 35px;
  text-align: center;
  font-size: $base-font-size;
  color: white;
  background: $gray;
  height: $title-height;
  line-height: $title-height;
  font-weight: normal;
  margin: 0;
}
